
# Private package from GitHub
ichijo_core @ git+https://${GITHUB_TOKEN}@github.com/curtinex/ichijo_core.git@v0.0.3

streamlit
numpy
Pillow
PyMuPDF
streamlit-image-coordinates
opencv-python-headless

# Image processing
scikit-image
scipy
