streamlit
stripe
numpy
Pillow
PyMuPDF
streamlit-image-coordinates==0.4.0
opencv-python-headless

# Webhook receiver
Flask
fastapi
uvicorn
requests

# Image processing
scikit-image
scipy
supabase
beautifulsoup4
